<div class="card text-center">
  <div class="card-header">
    <h1 class="mb-0">My Tickets</h1>
  </div>
  <div class="card-body">
    <% if current_user.tickets.present? %>
      <div class="table-responsive">
        <h3 class="mb-4">Total Tickets - <%= current_user.tickets.count %></h3>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Ticket ID</th>
              <th>Passenger Name</th>
              <th>Passenger Age</th>
              <th>Passenger Sex</th>
              <th>Bus fare</th>
              <th>Pickup Point</th>
              <th>Drop Point</th>
              <th>Departure Time</th>
              <th>Arrival Time</th>
              <th>Journey Date</th>
              <th>Ticket status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% current_user.tickets.each do |ticket| %>
              <tr>
                <td><%= ticket.id %></td>
                <td><%= ticket.name %></td>
                <td><%= ticket.age %></td>
                <td><%= ticket.sex %></td>
                <td><%= ticket.price %></td>
                <td><%= ticket.bus.pickup %></td>
                <td><%= ticket.bus.drop %></td>
                <td><%= ticket.bus.departure_time.strftime('%H:%M') %></td>
                <td><%= ticket.bus.arrival_time.strftime('%H:%M') %></td>
                <td><%= ticket.date %></td>
                <td><%= ticket.status %></td>
                <td><%= link_to 'Ticket Details', ticket_path(ticket), class: "btn btn-info btn-sm"%>
                  <%if ticket.status != "Confirmed" && ticket.status != "Rejected" && ticket.status != "Cancelled"%>
                    <%= link_to 'Cancel Ticket', bus_ticket_cancel_ticket_path(ticket.bus_id, ticket), data: { method: :cancel_ticket, turbo_confirm: "Are you sure to cancel this ticket?" }, class: "btn btn-danger btn-sm" %></td>
                <%end%>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer text-body-secondary">
      <% time = Time.now.to_s %>
      <%= "Updated on #{DateTime.parse(time).strftime("%d/%m/%Y %H:%M")}" %>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <%=link_to "Back", root_path ,class:"btn btn-primary"%>
      </div>
    </div>
  </div>
<% else %>
  <div class="card-body">
    <p class="mb-0">You have no tickets.</p>
  </div>
<% end %>
