<% if current_user.try(:admin?) %>
  <div class="card container my-5">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>schedule ID</th>
              <th>Route Id</th>
              <th>Bus Id</th>
              <th>Route</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.id %></td>
                <td><%= schedule.route_id %></td>
                <td><%= schedule.bus_id %></td>
                <td> <%= schedule.route.from %> - <%= schedule.route.to %></td>
                <td>
                  <% if can?(:manage, schedule) %>
                    <%= link_to "Update schedule", edit_schedule_path(schedule), class: "btn btn-primary" %>
                    <%= link_to "Delete schedule", schedule_path(schedule), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this route?"}, class: "btn btn-danger" %>
                  <% end %>
                <%end%>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ul class="pagination justify-content-center">
        <%= will_paginate @routes %>
      </ul>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
      <%=link_to "Back", root_path ,class:"btn btn-primary"%>
    </div>
  </div>
<% end %>
