<% if current_user.try(:admin?) %>
  <div class="card text-center">
    <div class="card-header">
      <h1>View <%= @bus.name %> Bookings</h1>
    </div>
    <div class="card-body">
      <% if @bus.tickets.present? %>
        <h3>Total Tickets - <%= @bus.tickets.count %> </h3>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Ticket ID</th>
                <th>Passenger Name</th>
                <th>Passenger Age</th>
                <th>Passenger Sex</th>
                <th>Bus fare</th>
                <th>Journey Date</th>
                <th>Ticket status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @tickets.each do |ticket| %>
                <tr>
                  
                 <td><%= ticket.id %></td>

                  <td><%= ticket.name %></td>
                  <td><%= ticket.age %></td>
                  <td><%= ticket.sex %></td>
                  <td><%= ticket.price %></td>
                  <td><%= ticket.date %></td>
                  <td><%= ticket.status %></td>
                  <td>
                    <%= link_to 'Details', ticket_path(ticket), class: "btn btn-info" %>
                    <%if ticket.status != "Cancelled"&& ticket.status != "Rejected" && ticket.status != "Confirmed"%>
                      <%= link_to "Approve", bus_ticket_approve_ticket_path(ticket.bus_id, ticket), class: "btn btn-success", data: { confirm: "Are you sure you want to approve this ticket?" } %>
                      <%= link_to "Reject", bus_ticket_reject_ticket_path(ticket.bus_id, ticket), method: :put, class: "btn btn-danger", data: { confirm: "Are you sure you want to reject this ticket?" } %>
                    <%end%>
                    <%= link_to "Destroy", ticket_path(ticket), data: {turbo_method: :delete,turbo_confirm: "Are you sure to delete this cancelled ticket?" } , class:"btn btn-danger " %>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="d-grid gap-2 col-2 mx-auto">
      <%=link_to "Back", :back ,class:"btn btn-primary"%>
    </div>
  <% else %>
    <p>You have no tickets.</p>
  </div>
<% end %>
