
  <title>Ticket</title>
<body>
  <h1>Ticket Information</h1>
  <table>
    <tr>
      <td><strong>Ticket ID:</strong></td>
      <td><%= @ticket.id %></td>
    </tr>
    <tr>
      <td><strong>Passenger Name:</strong></td>
      <td><%= @ticket.name %></td>
    </tr>
    <tr>
      <td><strong>Passenger Age:</strong></td>
      <td><%= @ticket.age %></td>
    </tr>
    <tr>
      <td><strong>Passenger Sex:</strong></td>
      <td><%= @ticket.sex %></td>
    </tr>
    <tr>
      <td><strong>Bus Fare:</strong></td>
      <td><%= @ticket.price %></td>
    </tr>
    <tr>
      <td><strong>Pickup Point:</strong></td>
      <td><%= @ticket.bus.pickup %></td>
    </tr>
    <tr>
      <td><strong>Drop Point:</strong></td>
      <td><%= @ticket.bus.drop %></td>
    </tr>
  </table>

<%= javascript_tag do %>
  document.addEventListener("turbolinks:load", function() {
    const printButton = document.querySelector(".print-button");
    if (printButton) {
      printButton.addEventListener("click", function() {
        const ticketId = this.getAttribute("data-ticket-id");
        const url = "/tickets/" + ticketId + "/print.pdf";
        const newWindow = window.open(url, "_blank");
      });
    }
  });
<% end %>