<%if user_signed_in?%>
  <div class="container">
    <div class="card text-center">
      <div class="card-header">
        <h3 class="mb-0">Welcome to <%=@ticket.bus.name%></h3>
        <div class="d-flex justify-content-center justify-content-md-end">
          <%if @ticket.Confirmed? %>
            <button type="button" class="btn btn-outline-success">Confirmed Ticket</button>
          <%elsif @ticket.Rejected?%>
            <button type="button" class="btn btn-outline-danger">Ticket Not Confirmed</button>
          <%elsif @ticket.Cancelled?%>
            <button type="button" class="btn btn-outline-danger">Cancelled</button>
          <%else%>
            <button type="button" class="btn btn-outline-danger">Ticket Not Confirmed yet - Status pending please wait...</button>
          <%end%>
        </div>
      </div>
      <div class="card-body">
        <h2 class="mb-3">Ticket Information</h2>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <th>Ticket ID:</th>
                <td><%= @ticket.id %></td>
              </tr>
              <tr>
                <th>Bus ID:</th>
                <td><%= @ticket.bus_id %></td>
              </tr>
              <tr>
                <th>Bus Route </th>
                <td><%= @ticket.route.from%> to <%= @ticket.route.to%>  </td>
              </tr>
              <tr>
                <th>Passenger Name:</th>
                <td><%= @ticket.name %></td>
              </tr>
              <tr>
                <th>Passenger Age:</th>
                <td><%= @ticket.age %></td>
              </tr>
              <tr>
                <th>Passenger Sex:</th>
                <td><%= @ticket.sex %></td>
              </tr>
              <tr>
                <th>Bus Fare:</th>
                <td><%= @ticket.price %></td>
              </tr>
              <tr>
                <th>Pickup Point:</th>
                <td><%= @ticket.bus.pickup %></td>
              </tr>
              <tr>
                <th>Drop Point:</th>
                <td><%= @ticket.bus.drop %></td>
              </tr>
              <tr>
                <th>Journey Date:</th>
                <td><%= @ticket.date %></td>
              </tr>
              <tr>
                <th>Bus Departure  Time:</th>
                <td><%= @ticket.bus.departure_time.strftime(" %H:%M") %></td>
              </tr>
              <tr>
                <th>Bus Arrival Time:</th>
                <td><%= @ticket.bus.arrival_time.strftime(" %H:%M")%></td>
              </tr>
              <tr>
                <th>Ticket Created At:</th>
                <td><%= @ticket.created_at %></td>
              </tr>
              <tr>
                <th>Ticket Updated At:</th>
                <td><%= @ticket.created_at %></td>
              </tr>
              <tr>
                <th>Ticket Status:</th>
                <td><%= @ticket.status %></td>
              </tr>
              <%if @ticket.Cancelled?%>
                <tr>
                  <th>Cancel Reasons</th>
                  <td><%= @ticket.cancel_reason %></td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer text-muted">
        <%=time = Time.now.to_s 
      time = DateTime.parse(time).strftime("%d/%m/%Y  %H:%M") %>
      </div>
    </div>
    <div class="d-flex justify-content-center justify-content-md-end mt-3">
      <div class="d-grid gap-2 d-md-block">
        <%=link_to "Print Ticket",'#',class:"btn btn-primary mr-md-2",onclick: "window.print()"%>
        <%=link_to "Back", :back ,class:"btn btn-primary"%>
      </div>
    </div>
  </div>
<%else%>
  <h1>Please Sign up or Sign in</h1>
<%end%>