<div class="container my-3">
  <%= form_with model: @route, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :from,"Enter Starting City" %>
    <%= f.text_field :from, class: 'form-control', required: true %><br>
    <%= f.label :to, "Enter Destination City" %>
    <%= f.text_field :to, class: 'form-control', required: true %><br>
    <%= f.submit "Save Bus Route", class: "btn btn-primary" %>
      <%= link_to "Back", :back ,class:"btn btn-primary"%>
  <% end %>
</div>
