<%= render 'shared/slides' %>
<%= render partial: "buses/search_form" %>
<%= render 'shared/pagebreaker' %>
<div class="card container my-5">
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Route ID</th>
            <th>Starting From</th>
            <th>Destination</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @routes.each do |route| %>
            <tr>
              <td><%= route.id %></td>
              <td><%= route.from %></td>
              <td><%= route.to %></td>
              <td>
                <% if can?(:manage, route) %>
                  <%= link_to "Update Route", edit_route_path(route), class: "btn btn-primary" %>
                  <%= link_to "Delete Route", route_path(route), data: {turbo_method: :delete, turbo_confirm: "Are you sure to delete this route?"}, class: "btn btn-primary" %>
                  <%= link_to "Show all Buses", route_buses_path(route), class: "btn btn-primary" %>
                <% else %>
                  <%= link_to "View Buses", route_buses_path(route), class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <ul class="pagination justify-content-center">
      <%= will_paginate @routes %>
    </ul>
  </div>
</div>
