
<% if @route.buses.any? %>
  <h3>Total Buses in this Route (<%= @route.buses.count %>) 
  </h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Bus Id</th>
      <th>Name</th>
      <th>Bus Number</th>
      <th>Bus Type</th>
      <th>Bus Price</th>
      <th>Seat Availability</th>
      <th>Pickup Point</th>
      <th>Drop Point</th>
      <th>Actions</th>
    </tr>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.id %></td>
        <td><%= bus.name %></td>
        <td><%= bus.number %></td>
        <td><%= bus.bustype %></td>
        <td><%= bus.price %></td>
        <td><%= bus.seats %></td>
        <td><%= bus.pickup %></td>
        <td><%= bus.drop %></td>
        <td> <% if current_user.try(:admin?) %>
            <%=link_to "Update Bus", edit_bus_path(bus), class:"btn btn-primary"%>
            <%=link_to "Book Ticket", new_bus_ticket_path(bus), class:"btn btn-danger"%> </td>
        <%else%>
          <%=link_to "Book Ticket", new_bus_ticket_path(bus), class:"btn btn-danger"%> </td>
      <%end%>
    </tr>
  <% end %>
<%else%>
  <h1>No Bus found in this Route </h1>
<%end%>
</table >
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <%= will_paginate @buses %>
  </ul>
</nav>