<% if @route.buses.any? %>
<h3>Total Buses (<%= @route.buses.count %>) </h3>
  <table class="table table-bordered table-striped">
    <tr>
      <th>Bus Id</th>
      <th>Name</th>
      <th>Bus Number</th>
      <th>Bus Type</th>
      <th>Bus Price</th>
      <th>Seat availability</th>
      <th>pickup point</th>
      <th>drop point</th>
      
      <th>Departure_time</th>
       <th>Arrival Time</th>
      <th>Actions</th>
    </tr>
    <% @buses.each do |bus| %>
      <tr>
        <td><%= bus.id %></td>
        <td><%= bus.name %></td>
        <td><%= bus.number %></td>
        <td><%= bus.bustype %></td>
        <td><%= bus.price %></td>
        <td><%= bus.seats %></td>
        <td><%= bus.pickup %></td>
        <td><%= bus.drop %></td>
           <%if bus.departure_time.present? && bus.arrival_time.present? %>
        <td><%= bus.departure_time.strftime('%H:%M') %></td>
        <td><%= bus.arrival_time.strftime('%H:%M') %></td>
        <%else%>
         <td><%= bus.departure_time %></td>
        <td><%= bus.arrival_time %></td>
        <%end%>
        <td>
          <% if current_user.try(:admin?) %>
          <% if can?(:manage, bus) %>
            <%=link_to "Update", edit_bus_path(bus), class:"btn btn-primary"%>
            <%=link_to "Tickets", bus_tickets_path(bus), class:"btn btn-primary"%>
            <%= link_to "Destroy", bus_path(bus), data: {turbo_method: :delete,turbo_confirm: "Are you sure to delete this bus?" } , class:"btn btn-danger" %>
          <% else %>
            <%=link_to "Book Ticket", new_bus_ticket_path(bus), class:"btn btn-danger"%>
          <% end %>
        </td>
      </tr>
    <% end %>
  <%else%>
    <h1>No Bus found in this Route </h1>
  <%end%>
          <%= button_to "Delete Bus",'#' ,class:"btn btn-danger"%></td>
      </tr>
    <% end %>
</table >
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <%= will_paginate @buses %>
  </ul>
</nav>