<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Add New Bus</h1>
    <%= form_with model: @bus, method: :post do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :number %>
      <%= f.text_field :number, class: 'form-control' %>
      
      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>
      
      <%= f.label :price %>
      <%= f.text_field :price, class: 'form-control' %>
      
      <%= f.label :seats %>
      <%= f.text_field :seats, class: 'form-control' %>
      
      <%= f.label :route_id %>
      <%= f.text_field :route_id, class: 'form-control' %>
      
      <%= f.submit "Save Bus", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

