<% if @buses.any? %>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Bus Id</th>
          <th>Bus Starting</th>
          <th>Bus Destination</th>
          <th>Name</th>
          <th>Bus Number</th>
          <th>Bus Type</th>
          <th>Bus Price</th>
          <th>Seat Availability</th>
          <th>Departure Time</th>
          <th>Arrival Time</th>
          <th>Dates Available/Actions</th>
          
        </tr>
      </thead>
      <tbody>
        <% @buses.each do |bus| %>
          <tr>
            <td><%= bus.id %></td>
            <td><%= bus.starting_city %></td>
            <td><%= bus.destination_city %></td>
            <td><%= bus.name %></td>
            <td><%= bus.number %></td>
            <td><%= bus.bustype %></td>
            <td><%= bus.price %></td>
            <td><%= bus.seats %></td>
            <% if bus.departure_time.present? && bus.arrival_time.present? %>
              <td><%= bus.departure_time.strftime('%H:%M') %></td>
              <td><%= bus.arrival_time.strftime('%H:%M') %></td>
            <% else %>
              <td><%= bus.departure_time %></td>
              <td><%= bus.arrival_time %></td>
            <% end %>
            <% if can?(:manage, bus) %>
             <td> <%= select_tag "schedule_date", options_for_select(bus.schedules.where(bus_id: bus.id).pluck(:dates).flatten) %></td>
             <td> <%= link_to "Update", edit_bus_path(bus), class:"btn btn-primary"%>
              <%= link_to "Bookings", bus_tickets_path(bus), class:"btn btn-primary"%>
              <%= link_to "Destroy", bus_path(bus), data: {turbo_method: :delete,turbo_confirm: "Are you sure to delete this bus?" } , class:"btn btn-danger" %></td>
            <%else%>
              <td> <%= form_with url: new_bus_ticket_path(bus), method: :get do |f| %>
                  <%= f.label :date, "Select a Date" %>
                  <%= f.select :date, options_for_select(bus.schedules.where(bus_id: bus.id).pluck(:dates).flatten) %>
              <%=f.submit "Book Ticket", class:"btn btn-danger"%></td>
              </tr>
            <%end%>
            <%end%>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="card-body">
      <h1 >Sorry! No buses found for this route</h1>
    </div>
  <% end %>

